@media(min-width: 280px) {
  .home-logo {
   width: 200px;
   height: 154.375px;
   display: flex;
   margin: auto;
   border-radius: 50px;
  }
  
  .home-description {
    font-size: 17px;
    padding: 10px;
    text-align: center;
    color: #fff;
    cursor: default;
  }
  
  .logoff {
    width: 200px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #00ff6a;
    color: #000000b6;
    font-size: 17px;
    text-transform: uppercase;
    transition: .8s ease;
    margin: auto;
    margin-top: 20px;
    font-weight: bold;
  }
  
  
  .logoff:active {
    background: #ff00009f;
    color: #fff;
    animation: none;
    transition: .3s;
  }
}












@media(min-width: 320px) {
  .home-logo {
    width: 250px;
    height: 192.969px;
  }
  
  .home-description {
    font-size: 20px;
    padding: 10px;
    text-align: center;
    color: #fff;
    cursor: default;
  }
  
  .logoff {
    width: 250px;
    height: 45px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #00ff6a;
    color: #000000b6;
    font-size: 22px;
    text-transform: uppercase;
    transition: .8s ease;
    margin: auto;
    margin-top: 20px;
    font-weight: bolder;
  }
  
  
  .logoff:active {
    background: #ff00009f;
    color: #fff;
    animation: none;
    transition: .3s;
  }
}














@media(min-width: 360px) {
  .home-logo {
    width: 320px;
    height: 247.001px;
  }
  
  .home-description {
    font-size: 25px;
    padding: 5px;
    text-align: center;
    color: #fff;
    cursor: default;
  }
  
  .logoff {
    width: 290px;
    height: 45px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #00ff6a;
    color: #000000b6;
    font-size: 22px;
    text-transform: uppercase;
    transition: .8s ease;
    margin: auto;
    margin-top: 20px;
    font-weight: bolder;
  }
  
  
  .logoff:active {
    background: #ff00009f;
    color: #fff;
    animation: none;
    transition: .3s;
  }
}













@media(min-width: 411px) {
  .home-logo {
    width: 350px;
    height: 270.157px;
  }
  
  .home-description {
    font-size: 27.5px;
    padding: 5px;
    text-align: center;
    color: #fff;
    cursor: default;
  }
  
  .logoff {
    width: 300px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #00ff6a;
    color: #000000b6;
    font-size: 27px;
    text-transform: uppercase;
    transition: .8s ease;
    margin: auto;
    margin-top: 20px;
    font-weight: bolder;
  }
  
  
  .logoff:active {
    background: #ff00009f;
    color: #fff;
    animation: none;
    transition: .3s;
  }
}










@media(min-width: 540px) {
  .home-logo {
    width: 450px;
    height: 347.345px;
  }
  
  .home-description {
    font-size: 30px;
    padding: 15px;
    text-align: center;
    color: #fff;
    cursor: default;
  }
  
  .logoff {
    width: 400px;
    height: 80px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #00ff6a;
    color: #000000b6;
    font-size: 32px;
    text-transform: uppercase;
    transition: .8s ease;
    margin: auto;
    margin-top: 20px;
    font-weight: bolder;
  }
  
  
  .logoff:active {
    background: #ff00009f;
    color: #fff;
    animation: none;
    transition: .3s;
  }
}










@media(min-width: 540px) {
  .home-logo {
    width: 600px;
    height: 463.127px;
  }
  
  .home-description {
    font-size: 35px;
    padding: 20px;
    text-align: center;
    color: #fff;
    cursor: default;
  }
  
  .logoff {
    width: 500px;
    height: 90px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #00ff6a;
    color: #000000b6;
    font-size: 35px;
    text-transform: uppercase;
    transition: .8s ease;
    margin: auto;
    margin-top: 20px;
    font-weight: bolder;
  }
  
  
  .logoff:active {
    background: #ff00009f;
    color: #fff;
    animation: none;
    transition: .3s;
  }
}





@media(min-width: 1024px) {
  .home-logo {
    width: 600px;
    height: 463.127px;
  }
  
  .home-description {
    font-size: 50px;
    padding: 20px;
    text-align: center;
    color: #fff;
    cursor: default;
  }
  
  .logoff {
    width: 550px;
    height: 120px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #00ff6a;
    color: #000000b6;
    font-size: 45px;
    text-transform: uppercase;
    transition: .8s ease;
    margin: auto;
    margin-top: 20px;
    font-weight: bolder;
  }
  
  
  .logoff:active {
    background: #ff00009f;
    color: #fff;
    animation: none;
    transition: .3s;
  }
}